
@use '_global' as *;

.nav-ed{
       & > .feature{
           & > .navbar{
           & > img{
               width: 50px;
            }
        }
    }
    & > .collapse{
     & > .d-flex{
         & > .notify img{
             margin: 5px;
         }
     }
    }

   }

.parrafo-1{
    background-color: salmon;

    .titulo{
        color: seagreen;
        text-align: center;
    }
}




